@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');


body { 
    font-family: 'Wix MadeFor Text',sans-serif;
    background-color: #201b2c;
    text-align: center;
}

h4 {font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 10;
    color: #3affbc;
}
h3 {font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 9px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.title p{
    margin-left: 3%;
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 10px 0.5px color black;  
    text-align: left;  
}

.title h4{
    margin-left: 3%;
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 6px 6px 10px 0.5px color black;  
    text-align: left;  
    
}

.container{
    display: flex;
    margin: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #3e3454;
    padding-left: 10px;
    border-radius: 20px;
}

/* Registro de Ponto */
.ponto-tangerino{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#ponto-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

/* Email */

.email{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#email-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

/* Confluence */

.confluence{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#conflu-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

/* GoTO */

.GoTO{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#goto-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

@media screen and (max-width: 845px){

    /* Classes gerais */
        .flex{
            flex-direction: column;
        }

        .ponto-tangerino{
            margin-left: 30px;
        }

        .email{
            margin-left: 90px;
        }

     .container{
        padding: 20px;
        margin-right: 30px;
        margin-left: 30px;
     }
    /* Cabeçalho */
        .menu, .profile-button{
            display: none;
        }
    
    }