@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

a#unidades-manual {
    font-family: 'Noto Sans',sans-serif;
    font-size: 10;
    color: rgb(249, 249, 249); /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold; /* Torna o texto negrito */
    text-transform: uppercase;
}


a#unidades-manual:hover{
    color: #00ff77;
}

label#unidade {
    font-size: 160px;
}

input#unidade {
    font-family: 'Noto Sans',sans-serif;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #2f2841;
    width: 50%;
    font-weight: 400; 
    font-size: 15px;
    color: white;
    text-shadow: 6cm 6cm 10cm color black;
}

button#btn-baixar {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Noto Sans',sans-serif;
    background-color: #00ff77;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
}

button#btn-baixar :hover {
    background-color: #95ffc6;
}


p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #2f2841;
    font-family: 'Noto Sans',sans-serif;
    font-weight: 600;    
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-shadow: 6cm 6cm 10cm color black;
}

p#unidades-form {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #2f2841;
    font-family: 'Noto Sans',sans-serif;
    font-weight: 800;    
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-shadow: 6cm 6cm 10cm color black; 
}


@media screen and (max-width: 845px){

    /* Classes gerais */
        .flex{
            flex-direction: column;
        }
    
    /* Cabeçalho */
        .menu, .profile-button{
            display: none;
        }
    
    }