@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* FORMATAÇÃO DO HEADER */

  /* Estilo básico para o botão de perfil */
  .profile-button {
    font-family: 'Noto Sans',sans-serif;
    font-weight: 600;
    position: absolute;
    background-color: rgb(0, 255, 166);
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 88%;
    width: 7%;
   
}

/* Container do menu flutuante */
.profile-menu {
    display: none; /* Oculto por padrão */
    position: absolute;
    right: 15px;
    top: 50px; /* Ajuste conforme necessário */
    background-color: #41384e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    z-index: 1000;
}

/* Estilo dos itens do menu */
.profile-menu a {
    border-radius: 5px;
    font-weight: 700;
    display: block;
    padding: 10px 15px;
    color: #e1e1e1;
    text-decoration: none;
    border-bottom: 1px solid #767676;
}

.profile-menu a:hover {
    color: #2f2841;
    background-color: rgb(0, 255, 166);
}

.profile-menu a:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

/* Para exibir o menu quando ativo */
.profile-menu.active {
    display: block;
}

/* FORMATAÇÃO DO HEADER */

header {
    display: flex;
    background-color: #2f2841;
    align-items: center;
    height: 8vh;
}

#interface {
    width: 100%;
}

#cabecalho {
    background-color: #0e0c11;
}

#cabecalho_1 {
    position: absolute;
    left: 15px;
    top: 1.5%;
    width: 10%;
}

/* FORMATAÇÃO DO BODY */

body { 
    font-family: 'Noto Sans',sans-serif;
    background-color: #201b2c;
    text-align: center;
    margin: 0;
}

main {
    min-height: 72vh;
    height: 100%;
    flex: 1;
}


/* FORMATAÇÃO DO MENU PRINCIPAL */

nav#menu ul {
    font-family: 'Noto Sans',sans-serif;
    background-color: #322b44;
    list-style-type: none;
    margin: 0px;  
    margin-bottom: 40px;
}

nav#menu li {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    transition: background-color 0.1s;
    border-radius: 5px;
}

nav#menu li:hover {
    background-color: #000000a1;
}

/* FORMATAÇÃO DE IMAGENS */

img {
    width: 10%;
}

/* FORMATAÇÃO FOOTER */

footer {
    color: rgb(255, 255, 255);  
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0c11;
    margin-bottom: 0px;
}