<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Operações HUB - Acessos Rápidos</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="icon" type="image/png" href="../assets/ícones/favicon-96x96.png" sizes="96x96" />
     <link rel="icon" type="image/svg+xml" href="../assets/ícones/favicon.svg" />
     <link rel="shortcut icon" href="../assets/ícones/favicon.ico" />
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/ícones/apple-touch-icon.png" />
     <meta name="apple-mobile-web-app-title" content="Operações HUB" />
     <link rel="manifest" href="../assets/ícones/site.webmanifest" />
     <script src="../js/menu.js" defer></script>
     <script src="../js/chatbox.js" defer></script>
</head>

<body class="hidden">
     <div id="loading-overlay">
          <div class="spinner"></div>
     </div>

     <div id="interface">
          <header id="cabecalho">
               <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="home.html" alt="logo-liberty">
               <div class="menu-flutuante" id="btn-menu-f">
                    <i class="bi bi-list"></i>
               </div>
          </header>
     </div>

     <!-- MENU DESKTOP -->
     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>


               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         <li> <a href="unidades-sms.html" class="meus-links">UNIDADES SMS</a></li>
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>

                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
     <!-- MENU MOBILE -->
     <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">

               <NAV>
                    <ul>
                         <li> <a href="home.html" class="meus-links">HOME</a></li>
                         <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>

                         <li> <a href="links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
                         <li> <a href="links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
                         <li> <a href="cfg-page.html">CONFIGURAÇÕES</a></li>
                         <li> <a href="suporte.html">SUPORTE</a></li>
                         <li> <a href="index.html">SAIR</a></li>
                    </ul>
               </NAV>
          </div>
     </div>

     <!-- ESTILO MENU MOBILE -->
     <div class="overlay-menu" id="menu-overlay"></div>


     <!-- CONTEÚDO DA PÁGINA -->

     <main>
          <main>
               <section class="title">
                    <div>
                         <h4>Acesso Rápido</h4>
                         <p>
                              <br> Aqui você encontrará atalhos para acessar seus links. Lembre-se que alguns dos links
                              abaixo funcionam somente mediante VPN ligada!
                              <br> Utilize as opções abaixo para acessar sistemas e serviços:
                         </p>
                    </div>
               </section>

               <div class="container">

                    <div class="jira">
                         <a href="https://libertyti.atlassian.net/jira/projects" target="_blank" id="jira"><img
                                   id="jira-icon" src="../assets/ícones/jira-icon.png" alt="JIRA"></a>
                         <h3>JIRA</h3>
                    </div>

                    <div class="vault">
                         <a href="https://vault.libertyti.cloud/ui/vault/dashboard" target="_blank" id="vault"><img
                                   id="vault-icon" src="../assets/ícones/vault-icon.png" alt="vault"></a>
                         <h3>Vault</h3>
                    </div>

                    <div class="ToLife">
                         <a href="https://gpa.tolife.app/" target="_blank" id="ToLife"><img id="ToLife-icon"
                                   src="../assets/ícones/ToLife-icon.png" alt="ToLife"></a>
                         <h3>ToLife</h3>
                    </div>

                    <div class="glpi">
                         <a href="http://10.46.118.66/" target="_blank" id="goto"><img id="glpi-icon"
                                   src="../assets/ícones/glpi-icon.png" alt="glpi"></a>
                         <h3>GLPI</h3>
                    </div>


                    <div class="liberty">
                         <a href="https://www.libertyhealth.com.br/" target="_blank" id="liberty"><img id="liberty-icon"
                                   src="../assets/ícones/liberty-logo.png" alt="Liberty Health"></a>
                         <h3>LIBERTY HEALTH</h3>
                    </div>
          </main>

          <footer>
               <h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>,
                    Inc. All
                    rights reserved.</h6>
          </footer>

          <script>window.addEventListener('load', () => {
                    const loader = document.getElementById('loading-overlay');
                    loader.style.opacity = '0';
                    loader.style.transition = 'opacity 0.5s ease';

                    setTimeout(() => {
                         loader.style.display = 'none';
                    }, 500);
               });
          </script>
          <script>
               window.addEventListener('load', () => {
                    // Remove o loading
                    const loader = document.getElementById('loading-overlay');
                    loader.style.opacity = '0';
                    loader.style.transition = 'opacity 0.5s ease';

                    setTimeout(() => {
                         loader.style.display = 'none';
                         // Exibe o conteúdo formatado
                         document.body.classList.remove('hidden');
                    }, 500);
               });
          </script>
</body>

</html>