<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>DISPONÍVEL EM BREVE</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="stylesheet" href="../estilos-css/ai-chat.css">
     <link rel="icon" type="image/png" href="../assets/ícones/favicon-96x96.png" sizes="96x96" />
     <link rel="icon" type="image/svg+xml" href="../assets/ícones/favicon.svg" />
     <link rel="shortcut icon" href="../assets/ícones/favicon.ico" />
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/ícones/apple-touch-icon.png" />
     <meta name="apple-mobile-web-app-title" content="Operações HUB" />
     <link rel="manifest" href="../assets/ícones/site.webmanifest" />
     
</head>

<body>
     <div id="loading-overlay">
          <div class="spinner"></div>
     </div>

     <div id="interface">
          <header id="cabecalho">
               <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="home.html" alt="logo-liberty">
               <div class="menu-flutuante" id="btn-menu-f">
                    <i class="bi bi-list"></i>
               </div>
                    <a href="https://libertyti.atlassian.net/servicedesk/customer/portal/11/create/145" target="_blank" class="open-ticket">+ NOVO REPORT<a>
          </header>
     </div>


     <!-- MENU DESKTOP -->
     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               
              <li> <a href="ferramentas.html" class="meus-links">FERRAMENTAS</a></li>
               <li> <a href="#" class="meus-links">DOCUMENTOS</a>
                    <ul>
                         <li> <a href="registro-de-atividades.html" class="meus-links">REGISTRO DE ATIVIDADES</a></li>
                    </ul>
               </li></li>  


               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>

                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
     <!-- MENU MOBILE -->
     <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">

     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               
               <li> <a href="ferramentas.html" class="meus-links">FERRAMENTAS</a></li>
               <li> <a href="#" class="meus-links">DOCUMENTOS</a>
                    <ul>
                         <li> <a href="registro-de-atividades.html" class="meus-links">REGISTRO DE ATIVIDADES</a></li>
                    </ul>
               </li>
               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>

                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
          </div>
     </div>

     <!-- ESTILO MENU MOBILE -->
     <div class="overlay-menu" id="menu-overlay"></div>

     <!-- CONTEÚDO DA PÁGINA  -->

     <div class="chat-wrapper">
          <div class="chat-overlay">EM BREVE</div>
          <div class="chat-container chat-bloqueado">

               <h1>Seja bem-vindo(a) ao Doki, seu assistente pessoal!</h1>

               <div id="chat-container">
                    <div id="chat-messages"></div>
                    <div id="chat-input-container">
                         <input type="text" id="chat-input" placeholder="Digite sua pergunta...">
                         <button id="sendBtn">ENVIAR</button>
                    </div>
               </div>
          </div>
          <!-- RODAPÉ  -->
          <footer>
               <p>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>,
                    Inc. All
                    rights reserved.</p>
          </footer>
          <script>window.addEventListener('load', () => {
                    const loader = document.getElementById('loading-overlay');
                    loader.style.opacity = '0';
                    loader.style.transition = 'opacity 0.5s ease';

                    setTimeout(() => {
                         loader.style.display = 'none';
                    }, 500);
               });
          </script>
</body>

</html>