<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Operações HUB - Configurações</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="icon" type="image/png" href="../assets/ícones/favicon-96x96.png" sizes="96x96" />
     <link rel="icon" type="image/svg+xml" href="../assets/ícones/favicon.svg" />
     <link rel="shortcut icon" href="../assets/ícones/favicon.ico" />
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/ícones/apple-touch-icon.png" />
     <meta name="apple-mobile-web-app-title" content="Operações HUB" />
     <link rel="manifest" href="../assets/ícones/site.webmanifest" />
     <script src="../js/menu.js" defer></script>
     <script src="../js/chatbox.js" defer></script>
</head>

<body>
     <div id="interface">
          <header id="cabecalho">
               <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="home.html" alt="logo-liberty">
               <div class="menu-flutuante" id="btn-menu-f">
                    <i class="bi bi-list"></i>
               </div>
          </header>
     </div>

     <!-- MENU DESKTOP -->
     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>


               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         <li> <a href="unidades-sms.html" class="meus-links">UNIDADES SMS</a></li>
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>

                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
     <!-- MENU MOBILE -->
     <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">

               <NAV>
                    <ul>
                         <li> <a href="home.html" class="meus-links">HOME</a></li>
                         <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>

                         <li> <a href="links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
                         <li> <a href="links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
                         <li> <a href="cfg-page.html">CONFIGURAÇÕES</a></li>
                         <li> <a href="suporte.html">SUPORTE</a></li>
                         <li> <a href="index.html">SAIR</a></li>
                    </ul>
               </NAV>
          </div>
     </div>

     <!-- ESTILO MENU MOBILE -->
     <div class="overlay-menu" id="menu-overlay"></div>


     <!-- CONTEÚDO DA PÁGINA -->

     <label class="theme-switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider"></span>
     </label>


     <script>
          const toggle = document.getElementById('theme-toggle');
          const body = document.body;

          // Checa se o usuário já tem tema salvo
          const savedTheme = localStorage.getItem('theme');
          if (savedTheme) {
               body.classList.add(savedTheme);
               toggle.checked = savedTheme === 'theme-light';
          } else {
               // padrão é dark
               body.classList.add('theme-dark');
          }

          toggle.addEventListener('change', () => {
               if (toggle.checked) {
                    body.classList.replace('theme-dark', 'theme-light');
                    localStorage.setItem('theme', 'theme-light');
               } else {
                    body.classList.replace('theme-light', 'theme-dark');
                    localStorage.setItem('theme', 'theme-dark');
               }
          });
     </script>




     <!-- RODAPÉ -->

     <footer>
          <h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All
               rights reserved.</h6>
     </footer>
</body>

</html>