<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Operações HUB - Ferramentas</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="icon" type="image/png" href="../assets/ícones/favicon-96x96.png" sizes="96x96" />
     <link rel="icon" type="image/svg+xml" href="../assets/ícones/favicon.svg" />
     <link rel="shortcut icon" href="../assets/ícones/favicon.ico" />
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/ícones/apple-touch-icon.png" />
     <meta name="apple-mobile-web-app-title" content="Operações HUB" />
     <link rel="manifest" href="../assets/ícones/site.webmanifest" />
     <script src="../js/menu.js" defer></script>
     
</head>

<body>
     <div id="loading-overlay">
          <div class="spinner"></div>
     </div>

     <div id="interface">
          <header id="cabecalho">
               <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="home.html" alt="logo-liberty">
               <div class="menu-flutuante" id="btn-menu-f">
                    <i class="bi bi-list"></i>
               </div>
                    <a href="https://libertyti.atlassian.net/servicedesk/customer/portal/11/create/145" target="_blank" class="open-ticket">+ NOVO REPORT<a>
          </header>
     </div>


     <!-- MENU DESKTOP -->
     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               
              <li> <a href="ferramentas.html" class="meus-links">FERRAMENTAS</a></li>
               <li> <a href="#" class="meus-links">DOCUMENTOS</a>
                    <ul>
                         <li> <a href="registro-de-atividades.html" class="meus-links">REGISTRO DE ATIVIDADES</a></li>
                    </ul>
               </li>
               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>
                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
     <!-- MENU MOBILE -->
     <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">

               <NAV>
                    <ul>
                         <li> <a href="home.html" class="meus-links">HOME</a></li>
                         
                        <li> <a href="ferramentas.html" class="meus-links">FERRAMENTAS</a></li>
               <li> <a href="#" class="meus-links">DOCUMENTOS</a>
                    <ul>
                         <li> <a href="registro-de-atividades.html" class="meus-links">REGISTRO DE ATIVIDADES</a></li>
                    </ul>
               </li></li>
                         <li> <a href="links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
                         <li> <a href="links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
                         <li> <a href="cfg-page.html">CONFIGURAÇÕES</a></li>
                         <li> <a href="suporte.html">SUPORTE</a></li>
                         <li> <a href="index.html">SAIR</a></li>
                    </ul>
               </NAV>
          </div>
     </div>

     <!-- CONTEÚDO DA PÁGINA -->
     <main>
          <section class="title">
               <div>
                    <h4>Ferramentas</h4>
                    <p>
                         <br> Aqui você encontrará as ferramentas e recursos necessários para facilitar suas atividades
                         diárias. Utilize as opções abaixo para baixar as ferramentas necessárias:
                    </p>
               </div>
          </section>

          <div class="container-2">

               <div class="button-icons">
                    <a href="https://cdn-fastly.obsproject.com/downloads/OBS-Studio-31.1.2-Windows-x64-Installer.exe"
                         target="_blank" id="link-obs"><img class="button-icon" src="../assets/ícones/obs-icon.png"
                              alt="Captura de vídeo"></a>
                    <h3>Captura de Vídeo</h3>
               </div>

               <div class="button-icons">
                    <a href="https://github.com/flameshot-org/flameshot/releases/download/v13.0.0/Flameshot-13.0.0-win64.msi"
                         target="_blank" id="printscreen"><img class="button-icon" src="../assets/ícones/flameshot-icon.png"
                              alt="FlameShot"></a>
                    <h3>PrintScreen</h3>
               </div>

               <div class="button-icons">
                    <a href="https://drive.google.com/uc?export=download&id=1TrU3A3V_HMOuDAOis930kXYG8M6JTloB"
                         target="_blank" id="pentaho"><img class="button-icon" src="../assets/ícones/pentaho-icon.png"
                              alt="PENTAHO"></a>
                    <h3>Pentaho</h3>
               </div>

               <div class="button-icons">
                    <a href="https://dl.pstmn.io/download/latest/win64" target="_blank" id="postman"><img
                              class="button-icon" src="../assets/ícones/postaman-icon.png" alt="Postman"></a>
                    <h3>Postman</h3>
               </div>

               <div class="button-icons">
                    <a href="https://drive.google.com/uc?export=download&id=1VqosEEcyMyz-nNH7VMa3_WbN0bL1ukF8"
                         target="_blank" id="vpn"><img class="button-icon" src="../assets/ícones/open-vpn-icon.png"
                              alt="Open VPN"></a>
                    <h3>Open VPN</h3>
               </div>

               <div class="button-icons">
                    <a href="https://drive.google.com/uc?export=download&id=1PSVKwprx4kzudviDApLXniohAJAaJyES"
                         target="_blank" id="vpn-2"><img class="button-icon" src="../assets/ícones/forti-client-icon.png"
                              alt="vpn-2"></a>
                    <h3>Forti Client VPN</h3>
               </div>

               <div class="button-icons">
                    <a href="https://dbeaver.io/files/dbeaver-ce-latest-x86_64-setup.exe" target="_blank"
                         id="dbeaver"><img class="button-icon" src="../assets/ícones/dbeaver-icon.png" alt="dbeaver"></a>
                    <h3>Banco de Dados</h3>
               </div>

               <div class="button-icons">
                    <a href="https://anydesk.com/pt/downloads/thank-you?dv=win_exe" target="_blank" id="anydesk"><img
                              class="button-icon" src="../assets/ícones/ANYDESK-icon.png" alt="anydesk"></a>
                    <h3>AnyDesk</h3>
               </div>

               <div class="button-icons">
                    <a href="https://drive.google.com/uc?export=download&id=1TBrnwrSawW4JwDO-6dXyFj0jt_96N49L"
                         target="_blank" id="bitdefender"><img class="button-icon"
                              src="../assets/ícones/bit-defender-icon.png" alt="bitdefender"></a>
                    <h3>Anti-Vírus</h3>
               </div>

               <div class="button-icons">
                    <a href="https://drive.google.com/uc?export=download&id=1d8z0K7i-zRfo6lrFR1zpeYCpJcLqaVjA"
                         target="_blank" id="adb-config"><img class="button-icon" src="../assets/ícones/adb-config.png"
                              alt="adb-config"></a>
                    <h3>ADB Config</h3>
               </div>
     </main>

     <!-- RODAPÉ -->

     <footer>
          <p>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All
               rights reserved.</p>
     </footer>
     <script>window.addEventListener('load', () => {
               const loader = document.getElementById('loading-overlay');
               loader.style.opacity = '0';
               loader.style.transition = 'opacity 0.5s ease';

               setTimeout(() => {
                    loader.style.display = 'none';
               }, 500);
          });
     </script>
</body>

</html>