<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Página Inicial</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.CSS">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="stylesheet" href="../estilos-css/home-style.css">
     <link rel="icon" sizes="16x16" href="favicon-16x16.png" type="image/png">
     <link rel="icon" sizes="32x32" href="favicon-32x32.png" type="image/png">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icones@1.11.3/font/bootstrap-icones.min.css">
     <script src="../js/menu.js" defer></script>
</head>

<body>
<div id="interface">
<header id="cabecalho">
    <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="../views/home.html" alt="logo-liberty">
    <div class="menu-flutuante" id="btn-menu-f">
     <i class="bi bi-list"></i>
</div>                            
</header>
</div>
          
 <!-- MENU DESKTOP -->    
 <NAV class="menu">
     <ul>
         <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
         <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
         <li> <a href="../views/login-creator.html" class="meus-links">Wall.e (RPA)</a></li>
         
         <li> <a class="meus-links">PORTAL DE LINKS</a>
               <ul>
               <li> <a href="../../views/links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
               <li> <a href="../../views/links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
               </ul>
          </li>
         <li> <a class="meus-links">CONFIGURAÇÕES</a>
               <ul>
               <li> <a href="../views/perfil.html" class="meus-links">MEU PERFIL</a></li>
               <li> <a href="../views/cfg-page.html" class="meus-links">CONFIGURAÇÕES</a></li>
               <li> <a href="../views/suporte.html" class="meus-links">SUPORTE</a></li>
               <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
               <li> <a href="../views/index.html" class="meus-links">SAIR</a></li>
               </ul>
          </li>
     </ul>
 </NAV>

<!-- MENU MOBILE -->

<div class="menu-mobile" id="menu-mobile">
     <div class="btn-fechar"> 
<NAV>
          <ul>
          <li> <a href="../views/perfil.html">Meu Perfil</a></li>
          <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
          <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
          <li> <a href="../views/login-creator.html" class="meus-links">Wall.e (RPA)</a></li>
               <li> <a href="../views/links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
               <li> <a href="../views/links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
          <li> <a href="../views/cfg-page.html">CONFIGURAÇÕES</a></li>
          <li> <a href="../views/suporte.html">SUPORTE</a></li>
          <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
          <li> <a href="../views/index.html">SAIR</a></li>
          </ul>
</NAV>     
     </div>
          </div>


<!-- ESTILO MENU MOBILE -->
<div class="overlay-menu" id="menu-overlay"></div>


<!-- CONTEÚDO DA PÁGINA -->
<main>
     <section class="title">
        <div>
          <h4>Bem-vindo(a),              ao Portal Liberty!</h4>
          <p>
               <br> Aqui você encontrará as ferramentas e recursos necessários para facilitar suas atividades diárias. 
               <br> Utilize as opções abaixo para acessar sistemas, relatórios e serviços:
          </p>
        </div>
     </section>

     <div class="container">

          <div class="ponto-tangerino">
               <a href="https://app.tangerino.com.br/Tangerino/pages/baterPonto/wicket:pageMapName/wicket-1" target="_blank" id="link-ponto"><img id="ponto-icon" src="../assets/ícones/sollides ponto.png"></a>
               <h3>REGISTRO DE PONTO</h3>
          </div>

     <div class="email">
               <a href="https://outlook.office.com/mail/" target="_blank" id="email"><img id="email-icon" src="../assets/ícones/outlook.png"></a>
               <h3>EMAIL CORPORATIVO</h3>
          </div>

     <div class="jira">
               <a href="https://libertyti.atlassian.net/jira/projects" target="_blank" id="jira"><img id="jira-icon" src="../assets/ícones/jira-icon.png"></a>
               <h3>JIRA</h3>
     </div>     

     <div class="confluence">
               <a href="https://libertyti.atlassian.net/wiki/home" target="_blank" id="confluence"><img id="conflu-icon" src="../assets/ícones/confluencia.png"></a>
               <h3>CONFLUENCE</h3>
          </div>

     <div class="GoTO">
               <a href="https://authentication.logmeininc.com/oauth/authorize?client_id=007d3a8e-5b8e-4af6-8db1-b8d52853439f&redirect_uri=https%3A%2F%2Fmyaccount.logmeininc.com&response_type=token&login_theme=goto&_ics=1726653918218&irclickid=~c95YQGNLBzCsujndghovlcdgigbcjahjhe956WXPKFDuslgc~2ZP" target="_blank" id="goto"><img id="goto-icon" src="../assets/ícones/goto-icon.png"></a>
               <h3>GoTO</h3>
          </div>         


          <div class="liberty">
               <a href="https://www.libertyhealth.com.br/" target="_blank" id="liberty"><img id="liberty-icon" src="../assets/ícones/liberty-logo.png"></a>
               <h3>LIBERTY HEALTH</h3>
          </div>
               </main> 


<!-- RODAPÉ -->

<footer>
<h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All rights reserved.</h6>
</footer>           
          </body>

                    </html>