<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Portal Liberty</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="stylesheet" href="../estilos-css/links-externos.css">
     <link rel="stylesheet" href="../estilos-css/hidden-class.css">
     <link rel="icon" sizes="16x16" href="favicon-16x16.png" type="image/png">
     <link rel="icon" sizes="32x32" href="favicon-32x32.png" type="image/png">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icones@1.11.3/font/bootstrap-icones.min.css">
     <script src="../js/menu.js" defer></script>
     <script src="js/links-externos.js"></script>
</head>

<body>
<div id="interface">
<header id="cabecalho">
    <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="../views/home.html" alt="logo-liberty">
    <div class="menu-flutuante" id="btn-menu-f">
     <i class="bi bi-list"></i>
</div>                            
</header>
</div>
          
 <!-- MENU DESKTOP -->    
 <NAV class="menu">
     <ul>
         <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
         <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
         <li> <a href="../views/login-creator.html" class="meus-links">WALL-E</a></li>
         
         <li> <a class="meus-links">PORTAL DE LINKS</a>
                <ul>
               <li> <a href="../views/links-internos.html" class="meus-links">ACESSO RÁPIDO</a></li>
               <li> <a href="../views/links-externos.html" class="meus-links">UNIDADES</a></li>
               </ul>
          </li>
         <li> <a class="meus-links">CONFIGURAÇÕES</a>
               <ul>
               <li> <a href="../views/perfil.html" class="meus-links">MEU PERFIL</a></li>
               <li> <a href="../views/cfg-page.html" class="meus-links">CONFIGURAÇÕES</a></li>
               <li> <a href="../views/suporte.html" class="meus-links">SUPORTE</a></li>
               <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
               <li> <a href="../views/index.html" class="meus-links">SAIR</a></li>
               </ul>
          </li>
     </ul>
 </NAV>  
<!-- MENU MOBILE -->

<div class="menu-mobile" id="menu-mobile">
     <div class="btn-fechar">
          
<NAV>
          <ul>
          <li> <a href="../views/perfil.html">Meu Perfil</a></li>
          <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
          <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
          <li> <a href="../views/login-creator.html" class="meus-links">WALL-E</a></li>
               <li> <a href="../views/links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
               <li> <a href="../views/links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
          <li> <a href="../views/cfg-page.html">CONFIGURAÇÕES</a></li>
          <li> <a href="../views/suporte.html">SUPORTE</a></li>
          <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
          <li> <a href="../views/index.html">SAIR</a></li>
          </ul>
</NAV>     
     </div>
          </div>

<!-- ESTILO MENU MOBILE -->
<div class="overlay-menu" id="menu-overlay"></div>

<!-- CONTEÚDO DA PÁGINA -->

    
<main>
     <section>
     <div>  
          <div id="title-portal">
            <h1>QUAL UNIDADE DESEJA ACESSAR?</h1>
          </div>
     <nav class="portal">
          <div class="unidades-select">

        <select id="unit-select" class="unidades-selects">
<option value="" disabled selected>Selecione a unidade desejada...</option>
    <option value="info-alipio">Alípio</option>
    <option value="info-amaZaio">Ama Zaio</option>
    <option value="info-amaro">Amaro</option>
    <option value="info-balneario">Balneário São Jose</option>
    <option value="info-brigadeiro">Brigadeiro</option>
    <option value="info-cachoeirinha">Cachoeirinha</option>
    <option value="info-campoLimpo">Campo Limpo</option>
    <option value="info-capelaSocorro">Capela Socorro</option>
    <option value="info-capsAricanduva">CAPS AD 2 Aricanduva Formosa</option>
    <option value="info-capsButanta">CAPS AD 2 Butantã</option>
    <option value="info-capsCachoeirinha">CAPS AD 2 Cachoeirinha</option>
    <option value="info-capsCangaiba">CAPS AD 2 Cangaíba</option>
    <option value="info-capsCasaVerde">CAPS AD 2 Casa Verde</option>
    <option value="info-capsCidadeAdemar">CAPS AD 2 Cidade Ademar</option>
    <option value="info-capsCidadeTiradentes">CAPS AD 2 Cidade Tiradentes</option>
    <option value="info-capsErmelinoMatarazzo">CAPS AD 2 Ermelino Matarazzo</option>
    <option value="info-capsGuaianases">CAPS AD 2 Guaianases</option>
    <option value="info-capsArturBispo">CAPS AD 2 Guaianases Artur Bispo do Rosário</option>
    <option value="info-capsItaimPaulista">CAPS AD 2 Itaim Paulista</option>
    <option value="info-capsItaquera">CAPS AD 2 Itaquera</option>
    <option value="info-capsJabaquara">CAPS AD 2 Jabaquara</option>
    <option value="info-capsJacana">CAPS AD 2 Jaçanã Dr. Leonídio Galvão dos Santos</option>
    <option value="info-capsJardimNelia">CAPS AD 2 Jardim Nélia</option>
    <option value="info-capsJardimLidia">CAPS AD 2 Jardim Lídia</option>
    <option value="info-capsMooca">CAPS AD 2 Mooca</option>
    <option value="info-capsPerdizes">CAPS AD 2 Perdizes Manoel Munhoz</option>
    <option value="info-capsPerus">CAPS AD 2 Perus</option>
    <option value="info-capsPinheiros">CAPS AD 2 Pinheiros</option>
    <option value="info-capsSacomã">CAPS AD 2 Sacomã</option>
    <option value="info-capsSantoAmaro">CAPS AD 2 Santo Amaro</option>
    <option value="info-capsSapopemba">CAPS AD 2 Sapopemba</option>
    <option value="info-capsSaoMiguel">CAPS AD 2 São Miguel</option>
    <option value="info-capsVilaMadalena">CAPS AD 2 Vila Madalena Prosam</option>
    <option value="info-capsVilaMariana">CAPS AD 2 Vila Mariana</option>
    <option value="info-capsVilaMonumento">CAPS AD 2 Vila Monumento</option>
    <option value="info-capsVilaPrudente">CAPS AD 2 Vila Prudente</option>
    <option value="info-caps3Armenia">CAPS AD 3 Armênia</option>
    <option value="info-caps3Boracea">CAPS AD 3 Boraceá</option>
    <option value="info-caps3Butanta">CAPS AD 3 Butantã</option>
    <option value="info-caps3CampoLimpo">CAPS AD 3 Campo Limpo</option>
    <option value="info-caps3CapelaSocorro">CAPS AD 3 Capela do Socorro</option>
    <option value="info-caps3Centro">CAPS AD 3 Centro</option>
    <option value="info-caps3ComplexoPrates">CAPS AD 3 Complexo Prates</option>
    <option value="info-caps3Freguesia">CAPS AD 3 Freguesia do Ó Brasilândia</option>
    <option value="info-caps3Grajau">CAPS AD 3 Grajaú</option>
    <option value="info-caps3Heliopolis">CAPS AD 3 Heliópolis</option>
    <option value="info-caps3ItaimBibi">CAPS AD 3 Itaim Bibi</option>
    <option value="info-caps3Itaquera">CAPS AD 3 Itaquera</option>
    <option value="info-caps3JardimAngela">CAPS AD 3 Jardim Ângela</option>
    <option value="info-caps3JardimSãoLuiz">CAPS AD 3 Jardim São Luiz</option>
    <option value="info-caps3Largo13">CAPS AD 3 Largo 13</option>
    <option value="info-caps3Leopoldina">CAPS AD 3 Leopoldina</option>
    <option value="info-caps3MBoiMirim">CAPS AD 3 M Boi Mirim</option>
    <option value="info-caps3Mandaqui">CAPS AD 3 Mandaqui</option>
    <option value="info-caps3Mooca">CAPS AD 3 Mooca</option>
    <option value="info-caps3Paraisopolis">CAPS AD 3 Paraisópolis</option>
    <option value="info-caps3Parelheiros">CAPS AD 3 Parelheiros</option>
    <option value="info-caps3Penha">CAPS AD 3 Penha</li></option>
    <option value="info-caps3PiritubaCasaAzul">CAPS AD 3 Pirituba Casa Azul</li></option>
    <option value="info-caps3PiritubaJaragua">CAPS AD 3 Pirituba Jaraguá</li></option>
    <option value="info-caps3Santana">CAPS AD 3 Santana</li></option>
    <option value="info-caps3Sapopemba">CAPS AD 3 Sapopemba</li></option>
    <option value="info-caps3SãoMateus">CAPS AD 3 São Mateus</li></option>
    <option value="info-caps3SãoMiguel">CAPS AD 3 São Miguel</li></option>
    <option value="info-caps3Sé">CAPS AD 3 Sé</li></option>
    <option value="info-caps3VilaMatilde">CAPS AD 3 Vila Matilde</li></option>
    <option value="info-caps4Redencao">CAPS AD 4 Redenção</li></option>
    <option value="info-capsIJ2BoiMirim">CAPS IJ 2 Boi Mirim</li></option>
    <option value="info-capsIJ2Butanta">CAPS IJ 2 Butantã</li></option>
    <option value="info-capsIJ2CampoLimpo">CAPS IJ 2 Campo Limpo</li></option>
    <option value="info-capsIJ2CapelaSocorro">CAPS IJ 2 Capela do Socorro Piração</li></option>
    <option value="info-capsIJ2CasaVerde">CAPS IJ 2 Casa Verde Nise da Silveira</li></option>
    <option value="info-capsIJ2CidadeAdemar">CAPS IJ 2 Cidade Ademar</li></option>
    <option value="info-capsIJ2CidadeLider">CAPS IJ 2 Cidade Líder</li></option>
    <option value="info-capsIJ2CidadeTiradentes">CAPS IJ 2 Cidade Tiradentes</li></option>
    <option value="info-capsIJ2ErmelinoMatarazzo">CAPS IJ 2 Ermelino Matarazzo</li></option>
    <option value="info-capsIJ2Freguesia">CAPS IJ 2 Freguesia do Ó Brasilândia</li></option>
    <option value="info-capsIJ2Guaianases">CAPS IJ 2 Guaianases Coloridamente</li></option>
    <option value="info-capsIJ2Ipiranga">CAPS IJ 2 Ipiranga</li></option>
    <option value="info-capsIJ2ItaimPaulista">CAPS IJ 2 Itaim Paulista</li></option>
    <option value="info-capsIJ2Itaquera">CAPS IJ 2 Itaquera</li></option>
    <option value="info-capsIJ2Jabaquara">CAPS IJ 2 Jabaquara Casinha</li></option>
    <option value="info-capsIJ2Lapa">CAPS IJ 2 Lapa</li></option>
    <option value="info-capsIJ2Mooca">CAPS IJ 2 Mooca</li></option>
    <option value="info-capsIJ2Parelheiros">CAPS IJ 2 Parelheiros Aquarela</li></option>
    <option value="info-capsIJ2Perus">CAPS IJ 2 Perus</li></option>
    <option value="info-capsIJ2SantoAmaro">CAPS IJ 2 Santo Amaro</li></option>
    <option value="info-capsIJ2SãoMateus">CAPS IJ 2 São Mateus</li></option>
    <option value="info-capsIJ2Sapopemba">CAPS IJ 2 Sapopemba</li></option>
    <option value="info-capsIJ2VilaMaria">CAPS IJ 2 Vila Maria Vila Guilherme</li></option>
    <option value="info-capsIJ2VilaMariana">CAPS IJ 2 Vila Mariana Quixote</li></option>
    <option value="info-capsIJ2VilaPrudente">CAPS IJ 2 Vila Prudente</li></option>
    <option value="info-capsIJ3Aricanduva">CAPS IJ 3 Aricanduva</li></option>
    <option value="info-capsIJ3CidadeDutra">CAPS IJ 3 Cidade Dutra</li></option>
    <option value="info-capsIJ3Heliopolis">CAPS IJ 3 Heliópolis</li></option>
    <option value="info-capsIJ3JardimSãoLuiz">CAPS IJ 3 Jardim São Luiz</li></option>
    <option value="info-capsIJ3Penha">CAPS IJ 3 Penha</li></option>
    <option value="info-capsIJ3Santana">CAPS IJ 3 Santana</li></option>
    <option value="info-capsIJ3SãoMiguel">CAPS IJ 3 São Miguel</li></option>
    <option value="info-crstFreguesia">CRST Freguesia</li></option>
    <option value="info-crstLapa">CRST Lapa</li></option>
    <option value="info-crstLeste">CRST Leste</li></option>
    <option value="info-crstMooca">CRST Mooca</li></option>
    <option value="info-crstSantoAmaro">CRST Santo Amaro</li></option>
    <option value="info-crstSé">CRST Sé</li></option>
    <option value="info-crstTeste">CRST Teste</li></option>
    <option value="info-demo">Demo</li></option>
    <option value="info-donaMaria">Dona Maria</li></option>
    <option value="info-hdBrasilândia">HD Brasilândia</li></option>
    <option value="info-hdButanta">HD Butantã</li></option>
    <option value="info-hdPenha">HD Penha</li></option>
    <option value="info-hdSãoMateus">HD São Mateus</li></option>
    <option value="info-hmBenedictoMontenegro">HM Benedicto Montenegro</li></option>
    <option value="info-hmBrasilândia">HM Brasilândia</li></option>
    <option value="info-hmCantareira">HM Cantareira</li></option>
    <option value="info-hmSorocabana">HM Sorocabana</li></option>
    <option value="info-hmWaldomiro">HM Waldomiro</li></option>
    <option value="info-hmZaio">HM Zaio</li></option>
    <option value="info-hungria">Hungria</li></option>
    <option value="info-ignacio">Ignácio</li></option>
    <option value="info-jabaquara">Jabaquara</li></option>
    <option value="info-lapa">Lapa</li></option>
    <option value="info-marioDegni">Mario Degni</li></option>
    <option value="info-medtrack">Medtrack</li></option>
    <option value="info-mooca">Mooca</li></option>
    <option value="info-paSãoMateus">PA São Mateus</li></option>
    <option value="info-redeMarioGatti">Rede Mario Gatti</li></option>
    <option value="info-saboya">Saboya</li></option>
    <option value="info-santana">Santana</li></option>
    <option value="info-santoAmaro">Santo Amaro</li></option>
    <option value="info-servidorPublico">Servidor Público</li></option>
    <option value="info-tatuapé">Tatuapé</li></option>
    <option value="info-tide">Tide</li></option>
    <option value="info-treinamento">Treinamento</li></option>
    <option value="info-universidadeLiberty">Universidade Liberty</li></option>
    <option value="info-upa21junho">UPA 21 de Junho</li></option>
    <option value="info-upa26agosto">UPA 26 de Agosto</li></option>
    <option value="info-upa3Carrão">UPA 3 Carrão Masataka Ota</li></option>
    <option value="info-upa3RioPequeno">UPA 3 Rio Pequeno</li></option>
    <option value="info-upaCampoLimpo">UPA Campo Limpo Dr. Fernando Pro</li></option>
    <option value="info-upaCidadeTiradentes">UPA Cidade Tiradentes</li></option>
    <option value="info-upaCityJaraguá">UPA City Jaraguá</li></option>
    <option value="info-upaErmelinoMatarazzo">UPA Ermelino Matarazzo</li></option>
    <option value="info-upaJabaquara">UPA Jabaquara</li></option>
    <option value="info-upaJaçanã">UPA Jaçanã</li></option>
    <option value="info-upaJardimAngela">UPA Jardim Ângela</li></option>
    <option value="info-upaJardimElisa">UPA Jardim Elisa</li></option>
    <option value="info-upaJardimPeri">UPA Jardim Peri</li>        
</select>

<div class="container">
    <button type="button" class="btn-send" onclick="showInfo()">MOSTRAR MAIS</button>
</div>

<!-- Itens que aparecerão dinamicamente -->

<div class="content">

    <div id="info-alipio" class="hidden">
        <h3>Informações sobre Alípio</h3>
        <p>
            Link de acesso EXTERNO: <a href="http://172.16.97.8/aghu/pages/casca/casca.xhtml " target="_blank">ACESSAR</a>
        </p>
        <p>
            Link de acesso INTERNO: <a href="#" target="_blank">ACESSAR</a>
        </p>
    </div>  
    <div id="info-amaZaio" class="hidden">
        <h3>Informações sobre Ama Zaio</h3>
        <p>
            Link de acesso EXTERNO: <a href="http://172.16.99.236/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
        <p>
            Link de acesso INTERNO: <a href="http://amaaz-sghx.saude.sp/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
    </div>
    <div id="info-amaro" class="hidden">
        <h3>Informações sobre Amaro</h3>
        <p>Link de acesso: Não disponível</p>
    </div>
    <div id="info-balneario" class="hidden">
        <h3>Informações sobre Balneário São Jose</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.98.109/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://psmbsj-sghx.pmsp/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
          </p>
    </div>
    <div id="info-brigadeiro" class="hidden">
        <h3>Informações sobre Brigadeiro</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.97.104/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://hmb-sghx.saude.sp" target="_blank">ACESSAR</a>
          </p>
    </div>
    <div id="info-cachoeirinha" class="hidden">
        <h3>Informações sobre Cachoeirinha</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.97.233/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://hmmas-sghx.saude.sp" target="_blank">ACESSAR</a>
          </p>
    </div>
    
    <div id="info-campoLimpo" class="hidden">
        <h3>Informações sobre Campo Limpo</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.96.75/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://hmfmpr-sghx.saude.sp" target="_blank">ACESSAR</a>
          </p>
    </div>
    
    <div id="info-capelaSocorro" class="hidden">
        <h3>Informações sobre Capela Socorro</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.98.38/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://hmcps-sghx.pmsp" target="_blank">ACESSAR</a>
          </p>
    </div>
    
    <div id="info-capsAricanduva" class="hidden">
        <h3>Informações sobre CAPS AD 2 Aricanduva Formosa</h3>
        <p>  
            Link de acesso EXTERNO: <a href="" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="" target="_blank">ACESSAR</a>
          </p>
    </div>
    
    <div id="info-capsButanta" class="hidden">
        <h3>Informações sobre CAPS AD 2 Butantã</h3>
        <p>Link de acesso: Não disponível</p>
    </div>
    
    <div id="info-capsCachoeirinha" class="hidden">
        <h3>Informações sobre CAPS AD 2 Cachoeirinha</h3>
        <p>Link de acesso: Não disponível</p>
    </div>
    
    <div id="info-capsCangaiba" class="hidden">
        <h3>Informações sobre CAPS AD 2 Cangaíba</h3>
        <p>Link de acesso: Não disponível</p>
    </div>
    
    <div id="info-capsCasaVerde" class="hidden">
        <h3>Informações sobre CAPS AD 2 Casa Verde</h3>
        <p>Link de acesso: Não disponível</p>
    </div>
    
    <div id="info-upaDoroteia" class="hidden">
        <h3>Informações sobre UPA Dorotéia</h3>
        <p>  
            Link de acesso EXTERNO: <a href="upa-parque-doroteia.libertyti.cloud" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://upapdoroteia-sghx.pmsp" target="_blank">ACESSAR</a>
          </p>
    </div>
    
    <div id="info-upaPedreira" class="hidden">
        <h3>Informações sobre UPA Pedreira</h3>
        <p>  
            Link de acesso EXTERNO: <a href="http://172.16.99.170/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
        </p>
          <p>
            Link de acesso INTERNO: <a href="http://172.16.99.170/aghu/pages/casca/casca.xhtml" target="_blank">ACESSAR</a>
          </p>
    </div>

    <script>
        function showInfo() {
            // Obtenha o valor selecionado no dropdown
            const selectedUnit = document.getElementById('unit-select').value;
    
            if (!selectedUnit) {
                alert('Por favor, selecione uma unidade.');
                return;
            }
    
            // Esconde todos os elementos com a classe 'hidden'
            const hiddenElements = document.querySelectorAll('.content .hidden');
            hiddenElements.forEach(element => {
                element.style.display = 'none';  // Oculta todos os elementos
            });
            
            // Exibe apenas o elemento com o ID correspondente à unidade selecionada
            const infoElement = document.getElementById(selectedUnit);
            if (infoElement) {
                infoElement.style.display = 'block';  // Exibe o elemento
            }
        }
    </script>
</section>
</main>
 <footer>
     <h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All rights reserved.</h6>
     </footer>              
               </body>
     
     </html>