<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Operações HUB - Painéis BI</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="stylesheet" href="../estilos-css/paineis-bi.css">
     <link rel="icon" type="image/png" href="../assets/ícones/favicon-96x96.png" sizes="96x96" />
     <link rel="icon" type="image/svg+xml" href="../assets/ícones/favicon.svg" />
     <link rel="shortcut icon" href="../assets/ícones/favicon.ico" />
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/ícones/apple-touch-icon.png" />
     <meta name="apple-mobile-web-app-title" content="Operações HUB" />
     <link rel="manifest" href="../assets/ícones/site.webmanifest" />
     <script src="https://cdn.tailwindcss.com"></script>
     <script src="../js/menu.js" defer></script>
     <script src="../js/chatbox.js" defer></script>
</head>

<body class="hidden">
     <div id="loading-overlay">
          <div class="spinner"></div>
     </div>

     <div id="interface">
          <header id="cabecalho">
               <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="home.html" alt="logo-liberty">
               <div class="menu-flutuante" id="btn-menu-f">
                    <i class="bi bi-list"></i>
               </div>
          </header>
     </div>

     <!-- MENU DESKTOP -->
     <NAV class="menu">
          <ul>
               <li> <a href="home.html" class="meus-links">HOME</a></li>
               <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>


               <li> <a class="meus-links">PORTAL DE ACESSOS</a>
                    <ul>
                         <li> <a href="unidades-sms.html" class="meus-links">UNIDADES SMS</a></li>
                         <li> <a href="paineis-bi.html" class="meus-links">PAINÉIS BI</a></li>

                    </ul>
               </li>
               <li> <a class="meus-links">OPÇÕES</a>
                    <ul>
                         <li> <a href="suporte.html" class="meus-links">MELHORIAS</a></li>

                    </ul>
               </li>
          </ul>
     </NAV>
     <!-- MENU MOBILE -->
     <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">

               <NAV>
                    <ul>
                         <li> <a href="home.html" class="meus-links">HOME</a></li>
                         <li> <a href="ai-chat.html" class="meus-links">EM BREVE</a></li>

                         <li> <a href="links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
                         <li> <a href="links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
                         <li> <a href="cfg-page.html">CONFIGURAÇÕES</a></li>
                         <li> <a href="suporte.html">SUPORTE</a></li>
                         <li> <a href="index.html">SAIR</a></li>
                    </ul>
               </NAV>
          </div>
     </div>

     <!-- ESTILO MENU MOBILE -->
     <div class="overlay-menu" id="menu-overlay"></div>


     <!-- CONTEÚDO DA PÁGINA -->

     <div class="cards-wrapper">

          <!-- Card 1 -->

          <div class="card-container"
               style="background-image: url('https://i.postimg.cc/yd9RYhqk/CENTRAL-DE-SUPORTE-N1.png');" data-tilt
               data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare
               data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

               <div class="inner-border-overlay" data-tilt-transform-element></div>

               <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
                    <div class="gradient-overlay"></div>

                    <div class="text-block" data-tilt-transform-element>
                         <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">

                              <path
                                   d="M14.344 6.219l-2.344-3.219-2.344 3.219-4.656 7.781h14l-4.656-7.781zm-7.344 9.781l-1 2h10l1.625-2.708-1.501-.292-1.124 1h-4l-1.125-1-1.875.001zm11.69-1l-.69.999 1.311 1.311 1.689.69-1.311-1.311-.689-.69z" />
                              </svg>

                         </h1>
                         <p class="text-sm sm:text-base lg:text-lg font-light">
                              Realize o acompanhamento do painel BI da nossa Central de Atendimento.
                         </p>
                    </div>

                    <a href="https://bi.libertyti.com.br/Organization/7493a5dd-2dab-4282-9784-fc4a852306ce/Report/3897b43b-de37-4759-b27a-88e792b9ddc5"
                         target="_blank" class="tour-button" data-tilt-transform-element>
                         Acompanhe
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M12 5l7 7-7 7"></path>
                              <path d="M5 12h14"></path>
                         </svg>
                    </a>
               </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>

          <script>
               VanillaTilt.init(document.querySelectorAll("[data-tilt]"), {
               });
          </script>

          <!-- Card 2 -->

          <div class="card-container" style="background-image: url('https://i.postimg.cc/0NHg2mGR/OPERA-ES-N2.png');"
               data-tilt data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare
               data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

               <div class="inner-border-overlay" data-tilt-transform-element></div>

               <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
                    <div class="gradient-overlay"></div>

                    <div class="text-block" data-tilt-transform-element>
                         <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">

                              <path
                                   d="M14.344 6.219l-2.344-3.219-2.344 3.219-4.656 7.781h14l-4.656-7.781zm-7.344 9.781l-1 2h10l1.625-2.708-1.501-.292-1.124 1h-4l-1.125-1-1.875.001zm11.69-1l-.69.999 1.311 1.311 1.689.69-1.311-1.311-.689-.69z" />
                              </svg>

                         </h1>
                         <p class="text-sm sm:text-base lg:text-lg font-light">
                              Realize o acompanhamento do painel BI da nossa equipe de operações.
                         </p>
                    </div>

                    <a href="https://bi.libertyti.com.br/Organization/7493a5dd-2dab-4282-9784-fc4a852306ce/Report/d31ff5ec-81ce-4ff7-821d-90ec853e842f"
                         target="_blank" class="tour-button" data-tilt-transform-element>
                         Acompanhe
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M12 5l7 7-7 7"></path>
                              <path d="M5 12h14"></path>
                         </svg>
                    </a>
               </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>

          <script>
               VanillaTilt.init(document.querySelectorAll("[data-tilt]"), {
               });
          </script>

          <!-- Card 3 -->

          <div class="card-container" style="background-image: url('https://i.postimg.cc/d0928mHp/ESCALA-N2.png');"
               data-tilt data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare
               data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

               <div class="inner-border-overlay" data-tilt-transform-element></div>

               <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
                    <div class="gradient-overlay"></div>

                    <div class="text-block" data-tilt-transform-element>
                         <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">

                              <path
                                   d="M14.344 6.219l-2.344-3.219-2.344 3.219-4.656 7.781h14l-4.656-7.781zm-7.344 9.781l-1 2h10l1.625-2.708-1.501-.292-1.124 1h-4l-1.125-1-1.875.001zm11.69-1l-.69.999 1.311 1.311 1.689.69-1.311-1.311-.689-.69z" />
                              </svg>

                         </h1>
                         <p class="text-sm sm:text-base lg:text-lg font-light">
                              Realize o acompanhamento da escala dos técnicos da equipe de operações.
                         </p>
                    </div>

                    <a href="https://bi.libertyti.com.br/Organization/7493a5dd-2dab-4282-9784-fc4a852306ce/Report/ab26ea86-a9c9-40e2-b85a-7b2145684999"
                         target="_blank" class="tour-button" data-tilt-transform-element>
                         Acompanhe
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M12 5l7 7-7 7"></path>
                              <path d="M5 12h14"></path>
                         </svg>
                    </a>
               </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>

          <script>
               VanillaTilt.init(document.querySelectorAll("[data-tilt]"), {
               });
          </script>

          <!-- Card 4 -->

          <div class="card-container"
               style="background-image: url('https://i.postimg.cc/hGGL1QkG/INSTITUCIONALIZA-O.png');" data-tilt
               data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare
               data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

               <div class="inner-border-overlay" data-tilt-transform-element></div>

               <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
                    <div class="gradient-overlay"></div>

                    <div class="text-block" data-tilt-transform-element>
                         <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-5xl font-bold mb-2">

                              <path
                                   d="M14.344 6.219l-2.344-3.219-2.344 3.219-4.656 7.781h14l-4.656-7.781zm-7.344 9.781l-1 2h10l1.625-2.708-1.501-.292-1.124 1h-4l-1.125-1-1.875.001zm11.69-1l-.69.999 1.311 1.311 1.689.69-1.311-1.311-.689-.69z" />
                              </svg>

                         </h1>
                         <p class="text-sm sm:text-base lg:text-lg font-light">
                              Realize o acompanhamento do painel BI da equipe de Institucionalização.
                         </p>
                    </div>

                    <a href="https://bi.libertyti.com.br/Organization/7493a5dd-2dab-4282-9784-fc4a852306ce/Report/a0ed823c-8fd9-4a68-8526-1243cfd62770"
                         target="_blank" class="tour-button" data-tilt-transform-element>
                         Acompanhe
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M12 5l7 7-7 7"></path>
                              <path d="M5 12h14"></path>
                         </svg>
                    </a>
               </div>
          </div>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.0/vanilla-tilt.min.js"></script>

          <script>
               VanillaTilt.init(document.querySelectorAll("[data-tilt]"), {
               });
          </script>




     </div>

     <!-- RODAPÉ -->

     <footer>
          <h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All
               rights reserved.</h6>
     </footer>
               <script>window.addEventListener('load', () => {
                    const loader = document.getElementById('loading-overlay');
                    loader.style.opacity = '0';
                    loader.style.transition = 'opacity 0.5s ease';

                    setTimeout(() => {
                         loader.style.display = 'none';
                    }, 500);
               });
          </script>
          <script>
               window.addEventListener('load', () => {
                    // Remove o loading
                    const loader = document.getElementById('loading-overlay');
                    loader.style.opacity = '0';
                    loader.style.transition = 'opacity 0.5s ease';

                    setTimeout(() => {
                         loader.style.display = 'none';
                         // Exibe o conteúdo formatado
                         document.body.classList.remove('hidden');
                    }, 500);
               });
          </script>
</body>

</html>