<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Configurações</title>
     <link rel="stylesheet" href="../estilos-css/style-geral.css">
     <link rel="stylesheet" href="../estilos-css/links-portal.css">
     <link rel="stylesheet" href="../estilos-css/home-style.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icones@1.11.3/font/bootstrap-icones.min.css">
     <link rel="icon" sizes="16x16" href="favicon-16x16.png" type="image/png">
     <link rel="icon" sizes="32x32" href="favicon-32x32.png" type="image/png">
     <script src="../js/menu.js" defer></script>
</head>

<body>
<div id="interface">
<header id="cabecalho">
    <img id="cabecalho_1" src="../assets/images/logo-liberty.png" href="../views/home.html" alt="logo-liberty">
    <div class="menu-flutuante" id="btn-menu-f">
     <i class="bi bi-list"></i>
</div>                            
</header>
</div>
          
 <!-- MENU DESKTOP -->    
 <NAV class="menu">
     <ul>
         <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
         <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
         <li> <a href="../views/login-creator.html" class="meus-links">Wall.e (RPA)</a></li>
         
         <li> <a class="meus-links">PORTAL DE LINKS</a>
                <ul>
               <li> <a href="../views/links-internos.html" class="meus-links">ACESSO RÁPIDO</a></li>
               <li> <a href="../views/links-externos.html" class="meus-links">UNIDADES</a></li>
               </ul>
          </li>
         <li> <a class="meus-links">CONFIGURAÇÕES</a>
               <ul>
               <li> <a href="../views/perfil.html" class="meus-links">MEU PERFIL</a></li>
               <li> <a href="../views/cfg-page.html" class="meus-links">CONFIGURAÇÕES</a></li>
               <li> <a href="../views/suporte.html" class="meus-links">SUPORTE</a></li>
               <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
               <li> <a href="../views/index.html" class="meus-links">SAIR</a></li>
               </ul>
          </li>
     </ul>
 </NAV>

<!-- MENU MOBILE -->

<div class="menu-mobile" id="menu-mobile">
     <div class="btn-fechar">
          
<NAV>
          <ul>
          <li> <a href="../views/perfil.html">Meu Perfil</a></li>
          <li> <a href="../views/home.html" class="meus-links">HOME</a></li>
          <li> <a href="../views/lily-ia.html" class="meus-links">LILY</a></li>
          <li> <a href="../views/login-creator.html" class="meus-links">Wall.e (RPA)</a></li>
               <li> <a href="../views/links-internos.html" class="meus-links">LINKS INTERNOS</a></li>
               <li> <a href="../views/links-externos.html" class="meus-links">LINKS EXTERNOS</a></li>
          <li> <a href="../views/cfg-page.html">CONFIGURAÇÕES</a></li>
          <li> <a href="../views/suporte.html">SUPORTE</a></li>
          <li> <a href="../views/about-me.html" class="meus-links">SOBRE</a></li>
          <li> <a href="../views/index.html">SAIR</a></li>
          </ul>
</NAV>     
     </div>
          </div>

<!-- ESTILO MENU MOBILE -->
<div class="overlay-menu" id="menu-overlay"></div>


<!-- CONTEÚDO DA PÁGINA -->

<footer>
   <h6>© 2024 <a href="https://github.com/RickyEngler" target="_blank" id="link-git">AUGUSTO ENGLER</a>, Inc. All rights reserved.</h6>
</footer>      

<script>
    // Função para alternar a exibição do menu
    function toggleMenu() {
        var menu = document.getElementById('profileMenu');
        menu.classList.toggle('active');
    }

    // Fecha o menu se clicar fora dele
    window.onclick = function(event) {
        if (!event.target.matches('.profile-button')) {
            var menu = document.getElementById('profileMenu');
            if (menu.classList.contains('active')) {
                menu.classList.remove('active');
            }
        }
    }
</script>
       </body>       
        </html>