@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

/* Corpo */

body { 
    font-family: 'Wix MadeFor Text',sans-serif;
    background-color: #201b2c;
    text-align: center;
}



/* Textos */

h4 {font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 10;
    color: #3affbc;
}
h3 {font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 9px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.title p{
    margin-left: 3%;
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 10px 0.5px color black;  
    text-align: left;  
}

.title h4{
    margin-left: 3%;
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 6px 6px 10px 0.5px color black;  
    text-align: left;  
    
}

.container{
    display: flex;
    margin: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #3e3454;
    padding-left: 10px;
    border-radius: 20px;
}

/* Registro de Ponto */
.ponto-tangerino{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#ponto-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}

/* Email */

.email{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#email-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

/* JIRA */

.jira{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#jira-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}


/* Liberty */

.liberty{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#liberty-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}



/* Confluence */

.confluence{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#conflu-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
}

/* GoTO */

.GoTO{
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
}

#goto-icon{
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}


/* Estilo do pop-up */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #3e3454;
    color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button {
    padding: 10px 20px;
    background-color: #3affbc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}





/* Modificação para suporte mobile */

@media screen and (max-width: 955px){

    /* Classes gerais */

    .jira{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }

    .liberty{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }

    .confluence{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }

    .ponto-tangerino{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }

    .GoTO{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }

    .confluence{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
       
    }
    
    .email{
        margin: 30px;
        margin-left: 10px;
        margin-right: 0;
    }

     .container{

        padding: 50px;
        margin-right: 100px;
        margin-left: 100px;
        flex-direction: column;
     }

     
    /* Cabeçalho */
        .menu, .profile-button{
            display: none;
        }
    
    }