@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');


/* Formatação pagina de links */
body { 
    font-family: 'Wix MadeFor Text',sans-serif;
    background-color: #201b2c;
    text-align: center;
    margin: 0;

    h1 {font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 6px 6px 10px 0.5px color black;     
        }
    }

.meus-links {
    font-family: 'Wix MadeFor Text',sans-serif;
    font-size: 15px;
    color: #ececec; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold; /* Torna o texto negrito */
}

.meus-links:hover {
    color: #adffc8; /* Cor do texto quando o mouse passa sobre o link */
    
}

a#link-git {
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 900;
    color: #3affbc; /* Cor do texto quando o mouse passa sobre o link */
    text-decoration: none; 

}

a#link-git:hover {
    color: #adffc8; /* Cor do texto quando o mouse passa sobre o link */
}


div#title-portal h1 {
    display: inline-flex;
    justify-content: center;
    padding: 15px;
    width: 400px;
    align-items: center;
    background-color: #2f2841;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 2px 50px #00000075;
}

.portal ul {
    margin-left: 34%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    font-family: 'Wix MadeFor Text',sans-serif;
    background-color: #2f2841;
    list-style-type:none;
    align-items: center;
    text-align: center;
}

.portal li {
    color: #f0f8ff;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
    transition: background-color 0.1s;
}

.portal li:hover {
    background-color: #00b98e;
}

.conttent{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    border: solid;
    color: aliceblue;
    border-top: none;
    border-right: none;
    border-left: none;
}


.unidades-selects{
    font-family: 'Wix MadeFor Text',sans-serif;
    font-weight: 700;
    padding: 15px;
    background-color: #2f2841;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    box-shadow: 5px 5px 15px #00000079;
}

.btn-send{
    font-family: 'Wix MadeFor Text',sans-serif;
    padding: 15px;
    font-weight: 800;
    background-color: #3affbc;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #2f2841;
}

.btn-send:hover{
    color: white;
    background-color: #9fffdf;

}

.hidden {
    display: none;
}


h4 {
    font-family: 'Wix MadeFor Text', sans-serif;
    font-size: 10;
    color: #3affbc;
}

h3 {
    font-family: 'Wix MadeFor Text', sans-serif;
    font-size: 9px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.title p {
    margin-left: 3%;
    font-family: 'Wix MadeFor Text', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 6px 6px 10px 0.5px color black;
    text-align: left;
}

.title h4 {
    margin-left: 3%;
    font-family: 'Wix MadeFor Text', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 6px 6px 10px 0.5px color black;
    text-align: left;

}

.container {
    display:flex;
    flex-wrap: wrap; /* permite quebra de linha */
    gap: 20px; /* espaço entre os cubos */
    margin:50px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #3e3454;
    padding-left: 10px;
    border-radius: 20px;
}

.container-2 {
    display:flex;
    flex-wrap: wrap; /* permite quebra de linha */
    gap: 20px; /* espaço entre os cubos */
    margin:50px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #3e3454;
    padding-left: 10px;
    border-radius: 20px;
}

/* Botões */

.button-icons {
    display: block;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
    transition: 0.4s;
}

.button-icons:hover {
    width: 80px;
    height: 80px;
    background-color: blueviolet;
}

.button-icon {
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 92%;
    padding: 5px;
    border-radius: 11px;
    font-family: 'Wix MadeFor Text',sans-serif;

}

.hidden {
    display: none;
}

.popup-content {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3e3454;
    padding: 20px;
    z-index: 1001;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 10, 15, 0.7);
}

button {
    padding: 10px 20px;
    background-color: #3affbc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

/* Modificação para suporte mobile */

@media screen and (max-width: 955px){

    /* Classes gerais */
    
    .portal li{
        padding: 20px;
    
    }
    .portal ul{
        margin-top: 10%;
        padding: 10px;
        width: 70%;
        margin-left: 13%;
    }
    
    /* Cabeçalho */
        .menu, .profile-button{
            display: none;
        }
    
    }

    .button-icons {
    display: block;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-left: 12%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #3affbc;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.58);
    transition: 0.4s;
}

.button-icons:hover {
    width: 80px;
    height: 80px;
    background-color: blueviolet;
}

.button-icon {
    margin-top: 3px;
    align-items: center;
    box-sizing: border-box;
    width: 92%;
    padding: 5px;
    border-radius: 11px;
    font-family: 'Wix MadeFor Text',sans-serif;

}